extends layout

block content
    doctype html
    html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/noticias.css') 
    body
    .container
        .header
            h1 Notícias

        if noticias.length > 0
        each noticia in noticias
            .date 
                | #{noticia.data}
            .news-item
                p #{noticia.autor_cargo} #{noticia.autor_recurso} publicou o recurso #{noticia.nome} do tema #{noticia.tema}.
        else
            p Nenhuma notícia disponível.
