doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Informações do Recurso
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .container
      h1= recurso.nome
      section#descricao
        h2 Descrição
        p= recurso.descricao
      section#detalhes
        h2 Detalhes
        ul
          li Escola: #{recurso.escola}
          li Departamento: #{recurso.departamento}
          li Curso: #{recurso.curso}
          li Data: #{recurso.data}
      section#tema
        h2 Tema
        p= recurso.tema
      section#ficheiros
        if recurso.ficheiros.length
          h2 Ficheiros
          ul
            each ficheiro in recurso.ficheiros
              li
                a(href=`${ficheiro}`) #{ficheiro}
        else
          p No files available.
      section#comentarios
        h2 Comentários
        if recurso.comentarios
          p Autor: #{recurso.comentarios.autor}
          p Texto: #{recurso.comentarios.texto}
          p Data: #{recurso.comentarios.data}
        else
          p No comments yet...
