extends layout

block content
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Informações do Recurso
      link(rel="stylesheet", href="/stylesheets/style.css")
    body
      .container
        .header
          h1 #{recurso.nome}
          p #{recurso.descricao}

        form(action=`/users/favoritos/${recurso._id}/adicionar` method="post")
          button.btn.btn-primary(type="submit") Adicionar aos Favoritos
        
        .recurso-details
          p
            span Tema:
            | 
            span #{recurso.tema}
          p
            span Escola:
            | 
            span #{recurso.escola}
          p
            span Departamento:
            | 
            span #{recurso.departamento}
          p
            span Curso:
            | 
            span #{recurso.curso}
          p
            span Autor:
            | 
            span #{recurso.autor_recurso} - #{recurso.autor_cargo}
          p
            span Data:
            | 
            span #{new Date(recurso.data).toLocaleDateString("pt-PT")}
          p
            span Avaliação:
            |
            if recurso.avaliacao.length > 0
                - var totalAvaliacao = recurso.avaliacao.reduce((acc, aval) => acc + aval.avaliacao, 0)
                - var mediaAvaliacao = (totalAvaliacao / recurso.avaliacao.length).toFixed(1)
                span #{mediaAvaliacao}
            else
              span Sem avaliações
          p
            span Arquivos:
            ul
              each file in recurso.ficheiros
                li
                  a(href=`/download/${file}`) #{file}

        // Evaluation section
        .evaluation
          h5 Avaliação
          if jaAvaliou
            .alert.alert-warning
              | Você já avaliou este recurso.
          else
            form(action=`/recursos/${recurso._id}/avaliar` method='POST')
              // Inserir elementos do formulário para avaliação
              select(name='avaliacao')
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
              button(type='submit') Avaliar

        if autorRec || admin
          .edit_recurso
          a.btn.btn-primary(href=`/recursos/${recurso._id}/editar`) Editar Recurso

        .comments-section
          h2 Comentários
          if recurso.comentarios.length > 0
            each comentario in recurso.comentarios
              .comment
                .comment-header
                  span.comment-author #{comentario.autor}
                  span.comment-date #{new Date(comentario.data).toLocaleDateString("pt-PT")}
                .comment-body
                  p #{comentario.texto}
          else
            p Nenhum comentário ainda. Seja o primeiro a comentar!

          .add-comment-form
            h3 Adicionar Comentário
            form(action=`/recursos/${recurso._id}/comentarios` method="post")
              .form-group
                label(for="texto") Comentário:
                textarea.form-control(name="texto" rows="4" required)
              button.btn(type="submit") Adicionar Comentário
